{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.mdx", "*.md"],
      "options": {
        "parser": "mdx",
        "printWidth": 999999,
        "proseWrap": "never",
        "embeddedLanguageFormatting": "off",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true,
        "singleAttributePerLine": false,
        "requirePragma": false,
        "insertPragma": false
      }
    }
  ]
}
